::selection {
  background: lightgreen;
  color: black;
}

::-webkit-scrollbar {
  width: 0.6rem;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0.3rem lightgrey;
  box-shadow: inset 0 0 0.3rem lightgrey;
}

*::-webkit-scrollbar-thumb {
  background-color: $blue;
  border-radius: 0.5rem;
  height: 0.3rem;
}

::-webkit-input-placeholder {
  color: $body-color;
  font-size: 12px;
}

::-moz-placeholder {
  color: $body-color;
  font-size: 12px;
}

:-o-input-placeholder {
  color: $body-color;
  font-size: 12px;
}

body {
  margin-bottom: 3vh;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

@media screen and (max-width: 600px) {
  .hide-sm {
    display: none;
  }
}

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

:focus {
  outline: unset !important;
}
