<nav class="container-fluid navbar is-fixed-top is-spaced is-transparent" role="navigation"
    aria-label="main navigation">

    <div class="navbar-brand">
        <a class="navbar-item" [routerLink]="navbarItems.routerLink">
            <img [src]="navbarItems.logo" alt="logo" width="50" height="auto" class="navbar__img">
            &nbsp;&nbsp;<b>Blend API</b>
        </a>

        <a role="button" #navbarBurger class="navbar-burger burger" aria-label="menu" aria-expanded="false"
            data-target="appNavBarMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="appNavBarMenu" #appNavBarMenu class="navbar-menu">
        <!-- navbar start -->
        <div class="navbar-start">
            <ng-container *ngFor="let item of navbarItems.navbarMenu">
                <ng-container *ngIf="!item.hasSubMenu; else hasMenuItems">
                    <a class="navbar-item" #menuItem [routerLink]="item.routerLink" routerLinkActive="is-active">
                        <i-feather [name]="item.icon"></i-feather>
                        <span class="ml2">{{item.title}}</span>
                    </a>
                </ng-container>
                <ng-template #hasMenuItems>
                    <section class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            <i-feather [name]="item.icon"></i-feather>
                            <span class="ml2">{{item.title}}</span>
                        </a>

                        <div class="navbar-dropdown is-boxed">
                            <ng-container *ngFor="let sub of item.subMenu">
                                <a class="navbar-item" #menuItem [routerLink]="[item.routerLink, sub.routerLink]"
                                    routerLinkActive="is-active">
                                    <ng-container *ngIf="sub.icon">
                                        <i-feather [name]="sub.icon"></i-feather>
                                    </ng-container>
                                    <span class="ml2">{{sub.title}}</span>
                                </a>
                                <!-- <hr class="navbar-divider"> -->
                            </ng-container>
                        </div>
                    </section>
                </ng-template>
            </ng-container>
        </div>

        <!-- navbar end - made by Jaskirat -->
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary is-light" target="blank" href="https://candidj.github.io">
                        <strong>Made by Jaskirat</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>