:host {

    a.navbar-item:focus,
    a.navbar-item:focus-within,
    a.navbar-item:hover,
    a.navbar-item.is-active,
    .navbar-link:focus,
    .navbar-link:focus-within,
    .navbar-link:hover,
    .navbar-link.is-active {
        background-color: transparent !important;
    }

    .navbar-item img {
        max-height: unset !important;
    }

    .navbar__img {
        height: auto;
        width: 6rem;
    }
}