<div class="table-container">
    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
        <thead>
            <tr>
                <ng-container *ngFor="let column of gridColumns">
                    <th class="has-background-primary-light is-capitalized">{{column.header}}</th>
                </ng-container>
            </tr>
        </thead>

        <tbody>
            <ng-container *ngIf="(gridData$| async) as grids; else noGridData">
                <ng-container *ngFor="let grid of grids; let  i = index;">
                    <tr>
                        <!-- alternative syntax for passing context -->
                        <!-- 1st syntax -->
                        <!-- <td>
                            <ng-container *ngTemplateOutlet="view, context: {grid:grid}">
                            </ng-container>
                        </td> -->
                        <!-- 2nd syntax -->
                        <!-- <ng-template [ngTemplateOutlet]="items" [ngTemplateOutletContext]="{$implicit: grid}"></ng-template> -->

                        <ng-template *ngTemplateOutlet="items, context: {$implicit: grid}"></ng-template>
                    </tr>
                </ng-container>
            </ng-container>

            <ng-template #noGridData>
                <!-- <p>No data to show</p> -->
            </ng-template>

        </tbody>

    </table>

</div>