<div class="table-container">
    <table class="table is-hoverable is-fullwidth is-bordered">
        <thead>
            <tr>
                <ng-container *ngFor="let column of gridColumns">
                    <th class="is-primary">{{column.header}}</th>
                </ng-container>
            </tr>
        </thead>

        <tbody>
            <ng-container *ngIf="(gridData$| async) as grids">
                <ng-container *ngFor="let grid of grids; let  i = index;">
                    <tr>
                        <!-- alternative syntax for passing context -->
                        <!-- <td>
                        <ng-container *ngTemplateOutlet="view, context: {grid:grid}">
                        </ng-container>
                    </td> -->
                        <!-- <ng-template [ngTemplateOutlet]="items" [ngTemplateOutletContext]="{$implicit: grid}"></ng-template> -->
                        <!-- alternative syntax -->
                        <ng-template *ngTemplateOutlet="items, context: {$implicit: grid}"></ng-template>
                    </tr>
                </ng-container>
            </ng-container>
        </tbody>

    </table>

</div>