<app-grid [gridData]="articles$" [gridColumns]="articleColumns">
    <!-- <ng-template #view let-gridRowData="grid">
        <a (click)="onView(gridRowData)">View</a>
    </ng-template> -->
    <ng-template #gridItems let-gridRowData>
        <td>
            <a [href]="gridRowData.url" target="_blank" class="flex justify-center align-center"
                (click)="onView(gridRowData)">
                <i-feather name="eye"></i-feather>
            </a>
        </td>
        <ng-container *ngFor="let item of dataSource">
            <td>{{gridRowData[item.property]}}</td>
        </ng-container>
    </ng-template>
</app-grid>

<app-paginator [noOfPages$]="noOfPages$" (onPaginatorChange)="onPaginatorChange($event)"></app-paginator>