<app-grid [gridData]="articles$" [gridColumns]="articleColumns">
    <!-- <ng-template #view let-gridRowData="grid">
        <a (click)="onView(gridRowData)">View</a>
    </ng-template> -->
    <ng-template #gridItems let-gridRowData>
        <ng-container *ngFor="let item of dataSource">
            <ng-container *ngIf="item.type !== 'date'; else dateTimeTemplate">
                <td>{{gridRowData[item.property]}}</td>
            </ng-container>
            <ng-template #dateTimeTemplate>
                <td>
                    <time datetime="gridRowData[item.property]"></time>
                    {{gridRowData[item.property] | date: 'medium'}}
                </td>
            </ng-template>
        </ng-container>
        <td>
            <a [href]="gridRowData.url" target="_blank" class="flex justify-center align-center"
                (click)="onView(gridRowData)">
                <i-feather name="external-link"></i-feather>
            </a>
        </td>
    </ng-template>
</app-grid>

<!-- <app-paginator [noOfPages$]="paginationConfig$" (onPaginatorChange)="onPaginatorChange($event)"></app-paginator> -->