// ruda - primary font (headings, navbar)
@font-face {
    font-family: "Ruda";
    src: url("theme/font/Ruda/ruda_400.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Ruda";
    src: url("theme/font/Ruda/ruda_600.woff2") format("woff2");
    font-weight: 600;
}

@font-face {
    font-family: "Ruda";
    src: url("theme/font/Ruda/ruda_700.woff2") format("woff2");
    font-weight: 700;
}


//  roboto slab - secondary font (paragraphs)
@font-face {
    font-family: "Roboto Slab";
    src: url("theme/font/RobotoSlab/rotobo_slab_300.woff2") format("woff2");
    font-weight: 300;
}

@font-face {
    font-family: "Roboto Slab";
    src: url("theme/font/RobotoSlab/roboto_slab_400.woff2") format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto Slab";
    src: url("theme/font/RobotoSlab/roboto_slab_500.woff2") format("woff2");
    font-weight: 500;
}

@font-face {
    font-family: "Roboto Slab";
    src: url("theme/font/RobotoSlab/roboto_slab_600.woff2") format("woff2");
    font-weight: 600;
}