<article class="container-fluid">
  <h5 class="search-guideline">
    <p class="is-size-7">Search for city name. For accurate results, choose country as well.
    </p>
  </h5>

  <form autocomplete="off" [formGroup]="userInputForm">
    <div class="control has-icons-left has-icons-right">
      <input name="city" formControlName="city" class="input" type="text" placeholder="Enter city name">
      <span class="icon is-small is-left">
        <i-feather name="search"></i-feather>
      </span>
      <span class="icon is-small is-right" (click)="userInputForm.reset()">
        <i-feather name="delete"></i-feather>
      </span>
    </div>
    <div class="control has-icons-left has-icons-right">
      <input list="browsers" name="country" formControlName="country" class="input" type="text"
        placeholder="Enter country name(optional)">
      <datalist id="browsers">
        <option *ngFor="let country of countries" [value]="country.name"></option>
      </datalist>
      <span class="icon is-small is-left">
        <i-feather name="globe"></i-feather>
      </span>
      <span class="icon is-small is-right" (click)="userInputForm.reset()">
        <i-feather name="delete"></i-feather>
      </span>
    </div>
  </form>

  <h2 class="forecast-header">5 day/3 hour Forecast</h2>

  <b class="location">
    <i-feather name="map-pin"></i-feather>
    <ng-container *ngIf="forecast$ |async as forecast">
      {{forecast[0].city}}, {{forecast[0].country}}
      {{forecast | json}}
    </ng-container>
  </b>

  <ul class="five-day-forecast-list">
    <li highlighted *ngFor="let forecast of forecast$ | async" class="message is-primary">
      <a class="message-body" (click)="showWeatherDetails(forecast)">
        <p>
          {{forecast.date | date: 'EEEE'}}
        </p>
        <p>
          <i [ngClass]="forecast.icon"></i>
          {{forecast.description | titlecase}}
        </p>
        <p>
          {{forecast.currentTemp | number: '1.0-0'}} <i class="wi wi-celsius"></i>
        </p>
      </a>
    </li>
  </ul>

</article>