<article class="container-fluid">

  <form id="search" autocomplete="off" [formGroup]="userInputForm">
    <div class="control has-icons-left has-icons-right">
      <input name="city" formControlName="city" class="input is-primary" type="text" placeholder="Enter city name">
      <span class="icon is-small is-left">
        <i-feather name="search"></i-feather>
      </span>
      <!-- <span class="icon is-small is-right" (click)="userInputForm.reset()">
        <i-feather name="delete"></i-feather>
      </span> -->
    </div>
    <div class="control has-icons-left has-icons-right">
      <input list="browsers" name="country" formControlName="country" class="input is-primary" type="text"
        placeholder="Enter country name(optional)">
      <datalist id="browsers">
        <option *ngFor="let country of countries" [value]="country.name"></option>
      </datalist>
      <span class="icon is-small is-left">
        <i-feather name="globe"></i-feather>
      </span>
      <!-- <span class="icon is-small is-right" (click)="userInputForm.reset()">
        <i-feather name="delete"></i-feather>
      </span> -->
    </div>

    <div class="control" id="radio">
      <label class="radio">
        <input type="radio" name="metric">
        Fahrenheit&nbsp;<i class="wi wi-fahrenheit"></i>
      </label>
      <label class="radio">
        <input type="radio" name="metric" class="celcius">
        Celcius&nbsp;<i class="wi wi-celsius"></i>
      </label>
    </div>

    <button class="button is-primary is-outlined" type="submit" (click)="onSubmit()">Search</button>
  </form>

  <h5 class="search-guideline">
    <p class="is-size-7">Search for city name. For more accurate results, choose country as well.
    </p>
  </h5>

  <ng-container *ngIf="forecast$ |async as forecast">
    <section class="forecast-header">
      <h2>5 day/3 hour Forecast</h2>

      <b class="location">
        <i-feather name="map-pin"></i-feather>
        <!-- <ng-container *ngIf="forecast$ |async as forecast"> -->
        {{forecast[0].city}}, {{forecast[0].country}}
        <!-- {{forecast | json}} -->
        <!-- </ng-container> -->
      </b>
    </section>

    <ul class="five-day-fl">
      <li *ngFor="let forecast of forecast$ | async" class="message is-primary">
        <div class="message-body" (click)="showWeatherDetails(forecast)">
          <p>
            {{forecast.date | date: 'EEEE'}}
          </p>
          <p>
            <i [ngClass]="forecast.icon"></i>
          </p>
          <p>
            <span> {{forecast.currentTemp | number: '1.0-0'}}</span> <i class="wi wi-celsius"></i>
          </p>
          <p>
            {{forecast.description | titlecase}}
          </p>
          <dl>
            <dt>Min/Max
              <i class="wi wi-barometer"></i>
            </dt>
            <dd>{{forecast.minTemp}}/{{forecast.maxTemp}}</dd>
            <dt>Humidity
              <i class="wi wi-humidity"></i>
            </dt>
            <dd>{{forecast.humidity}}</dd>
            <dt>Sunrise
              <i class="wi wi-sunrise"></i>
            </dt>
            <dd>{{forecast.sunrise | date : 'mediumTime'}}</dd>
            <dt>Sunset
              <i class="wi wi-sunset"></i>
            </dt>
            <dd>{{forecast.sunset | date : 'mediumTime'}}</dd>
            <dt>Wind speed
              <i class="wi wi-windy"></i>
            </dt>
            <dd>{{forecast.windSpeed}}</dd>
            <dt>Wind degree
              <i class="wi wi-degrees"></i>
            </dt>
            <dd>{{forecast.windDeg}}</dd>
          </dl>
        </div>
      </li>
    </ul>
  </ng-container>

  <!-- <ng-container *ngIf="forecastDetails">
    <app-forecast-details [details]="forecastDetails"></app-forecast-details>
  </ng-container> -->

</article>