:host {

    main {
        display: grid;
        grid-template-areas: "header"
            "article";
        gap: 2rem 0;
    }

    header {
        grid-area: header;
        height: 3.25rem;
    }

    article {
        grid-area: article;
        margin: calc(1rem + 1vh) calc(2rem + 3vw);
    }
}